<div class="reset-wrapper">
  <div class="reset-password-container">
    <h2>Redefinir Senha</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <label for="newPassword">Nova senha:</label>
      <input type="password" id="newPassword" formControlName="newPassword" required>

      <button type="submit" [disabled]="form.invalid">Redefinir</button>
    </form>

    <p *ngIf="message" class="success">{{ message }}</p>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
</div>
