<app-navbar></app-navbar>
<div class="editar-chamado-container" *ngIf="chamado">
  <form (ngSubmit)="salvar()">
    <fieldset>
      <legend>Editar Chamado</legend>

      <div class="form-group">
        <label for="remetente">Remetente</label>
        <input id="remetente" type="text" [(ngModel)]="chamado.remetente" name="remetente" disabled />
      </div>

      <div class="form-group">
        <label for="assunto">Assunto</label>
        <input id="assunto" type="text" [(ngModel)]="chamado.assunto" name="assunto" readonly />
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea id="descricao" [(ngModel)]="chamado.descricao" name="descricao" rows="5" readonly></textarea>
      </div>

      <div class="form-group historico-comentarios" *ngIf="chamado.comentarios && chamado.comentarios.length > 0">
        <label>Histórico de Comentários</label>
        <div class="comentario-card" *ngFor="let comentario of chamado.comentarios">
          <p class="comentario-texto">{{ comentario.texto }}</p>
          <span class="comentario-meta">Por {{ comentario.autor.username }} em {{ comentario.dataCriacao | date:'dd/MM/yy HH:mm' }}</span>
        </div>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="chamado.status" name="status" required>
          <option value="" disabled>Selecione</option>
          <option value="ABERTO">Aberto</option>
          <option value="EM_ANDAMENTO">Em andamento</option>
          <option value="FECHADO">Fechado</option>
        </select>
      </div>




      <div class="form-group">
        <label for="tecnico">Atribuir ao Técnico</label>
        <select id="tecnico" [(ngModel)]="tecnicoIdSelecionado" name="tecnico">
          <option [ngValue]="null">-- Não atribuir / Remover técnico --</option>
          <option *ngFor="let tecnico of tecnicos" [value]="tecnico.id">
            {{ tecnico.username }}
          </option>
        </select>
      </div>



      <div class="botoes-acoes">
        <button type="submit" class="btn-salvar">Salvar</button>
        <button type="button" class="btn-excluir" (click)="excluir()">Excluir Chamado</button>
      </div>
    </fieldset>
  </form>
</div>
