<main>

  <section class="form-section">
    <img src="">
    <h2>{{title}}</h2>
    <ng-content></ng-content>

    <div class="btn-wrapper">

      <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtm">{{primaryBtnText}}</button>
      <div class="divider">
        <div></div>
        <span>Or</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>

    </div>
  </section>

  <section class="main-section">

    <h1>Gerencie os chamados da sua empresa!</h1>
    <img src="" alt="">

  </section>


</main>
