<div class="container">
  <!-- Barra lateral -->
  <aside class="sidebar">
    <div class="logo">
      <img src="assets/headset-icon.png" alt="" />
      <h1>Callme</h1>
    </div>
    <nav class="menu">
    <app-navbar></app-navbar>
    </nav>
  </aside>

  <!-- Conteúdo principal -->
  <main class="main">
    <header class="header">
      <h2>Dashboard</h2>
      <div class="user-menu">
        João Silva
        <img src="assets/user-icon.png" alt="Usuário" />
        <div class="settings-select">
          <i class="bi bi-gear-fill"></i>
          <select>
            <option>Conta</option>
            <option>Perfil</option>
            <option>Sair</option>
          </select>
        </div>
      </div>
    </header>

    <section class="cards" >
      <div class="card" (click)="navigateToChamado()">

        <div  class="icon">💳</div>
        <h3>124</h3>
        <p >Chamados totais</p>
      </div>
      <div class="card"(click)="navigateToCreate()">
        <div class="icon">⏳</div>
        <h3>45</h3>
        <p>Em atendimento</p>
      </div>
      <div class="card">
        <div class="icon">⚠️</div>
        <h3>28</h3>
        <p>Aguardando resolução</p>
      </div>
    </section>

    <section class="table-section">
      <h3>Chamados Recentes</h3>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Assunto</th>
          <th>Solicitante</th>
          <th>Prioridade</th>
          <th>Status</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of chamados">
          <td><strong>#{{ item.chamadoId }}</strong></td>
          <td>{{ item.content }}</td>
          <td><em>{{ item.username }}</em></td>
          <td>Alta</td>
          <td>Em atendimento</td>
          <td>12/05/2025</td>
        </tr>

        <tr *ngIf="chamados.length === 0">
          <td colspan="6" style="text-align: center;">Nenhum chamado encontrado.</td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>
