<app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>

<main class="content" [ngClass]="{'content-trimmed': isSideNavCollapsed}">
  <div class="users-container">
    <header class="users-header">
      <h1>Lista de Usuários</h1>
      <div class="actions">
        <input type="text" [(ngModel)]="searchText" placeholder="Buscar por nome..." class="search-input">

        <div class="dropdown">
          <button (click)="toggleDropdown()" class="add-user-btn">
            Adicionar Usuário <i class="fal fa-chevron-down"></i>
          </button>
          <div class="dropdown-menu" *ngIf="dropdownOpen">
            <a (click)="openCreateModal('ADMIN')">Como Administrador</a>
            <a (click)="openCreateModal('USER')">Como Usuário</a>
          </div>
        </div>
      </div>
    </header>

    <div class="users-table">
      <table>
        <thead>
        <tr>
          <th>Nome de Usuário</th>
          <th>Email</th>
          <th>Cargos</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.username || 'N/A' }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles.join(', ') }}</td>
          <td>
            <button (click)="editUser(user)" class="action-btn edit">Editar</button>
            <button (click)="deleteUser(user.id)" [disabled]="isCurrentUser(user.id)" class="action-btn delete">
              Excluir
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredUsers.length === 0">
          <td colspan="4">Nenhum usuário encontrado.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<app-user-create-modal
  *ngIf="showModal"
  [selectedRole]="selectedRole"
  [editingUser]="editingUser"
  (close)="closeModal()"
  (submitUser)="createUser($event)">
</app-user-create-modal>
