<main>
  <div class="content-wrapper">
    <section class="form-section">
      <h2>{{ title }}</h2>
      <ng-content></ng-content>

      <div class="btn-wrapper">
        <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtm">
          {{ primaryBtnText }}
        </button>

        <div class="divider">
          <div></div>
          <span>Ou</span>
          <div></div>
        </div>

        <button class="btn-secondary" (click)="navigate()">
          {{ secondaryBtnText }}
        </button>
      </div>
    </section>
  </div>
</main>
