<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue, TRACE=cyan}] [%t] [%logger{36}] [%F:%L] - %msg%n</Property>
        <Property name="LOG_FILE">logs/app.log</Property>
    </Properties>

    <Appenders>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <!-- File -->
        <File name="File" fileName="${LOG_FILE}" immediateFlush="true" append="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Aplicação -->
        <Logger name="com.example" level="trace" additivity="false">
            <AppenderRef ref="File" />
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Root logger para console -->
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
