<div class="layout">
  <app-navbar></app-navbar>

  <main class="content">
    <form [formGroup]="chamadoForm" (ngSubmit)="onSubmit()" class="form-container">

      <label for="content">Assunto do Chamado:</label>
      <input
        id="content"
        type="text"
        placeholder="Dê um título para o chamado..."
        formControlName="content"
        class="input-assunto"
      />

      <label for="descricao">Descrição Detalhada:</label>
      <textarea
        id="descricao"
        placeholder="Descreva o problema ou solicitação..."
        formControlName="descricao"
        rows="8"
      ></textarea>

      <button type="submit" [disabled]="chamadoForm.invalid">Enviar Chamado</button>

      <p *ngIf="mensagemSucesso" class="mensagem">Chamado criado com sucesso!</p>
    </form>
  </main>
</div>
